<div class="panel-heading">
	<h4 class="panel-title col-sm-12">
		
		<!-- <span data-toggle="collapse" href="#collapse1" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span> -->
	</h4>
</div>
<div class="col-sm-2">
		<div id="collapse1" class=" panel-body panel-collapse collapse in">
		<ul class="nav btn-group">
		<li  *ngFor="let value of allValues" [class.selected]="value === selectedParam" style="padding-bottom:3%">
			<button  class="btn btn-success btn-block menuBtn" (click)="onParamClick(value)" ><h4>{{value.param}}</h4></button>
		</li>
	</ul>
</div>
</div>
<div class=" col-sm-10">
<app-param-details [value]="selectedParam"></app-param-details>
	</div>
	



