 div.title{
        background-color: Tomato;
     border-style: solid;
    border-left-width:10px;
      text-indent: 20px;
    letter-spacing: 2px;
    }
   
  .quote{
  	border-left: solid;
  	margin-left: 80%;
  	color: #8e8e8e;
  }
  .quote h5,h6{
    color: #8e8e8e;
    padding-left: 2%
  }
  